.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: "C1";
  src: url("fonts/CONTV2.otf");
}

@font-face {
  font-family: "C1i";
  src: url("fonts/CONTV2-Italic.otf");
}


/* Add the following CSS */

button{
  border: none;
}

h1 {
  font-family: "C1i";
  font-size: 400% !important;
  color: inherit; /* Add this line to inherit text color */
}

h2 {
  font-family: "C1";
  color: inherit; /* Add this line to inherit text color */
}

h3 {
  font-family: "C1i";
  color: inherit; /* Add this line to inherit text color */
}

h4 {
  font-family: 'Source Code Pro', monospace !important;
  color: inherit; /* Add this line to inherit text color */
}

p {
  font-family: 'Source Code Pro', monospace !important;
  color: inherit; /* Add this line to inherit text color */
}

li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit; /* Add this line to inherit link color */
  text-decoration: none;
}

a:hover {
  color: #D3FB75 !important;
}

a:active {
  color: #9375FB !important;
}

body.dark-mode {
  background-color: #0A0805;
  color: whitesmoke !important;
}
